body > #root > div {
    height: 100vh;
    margin: 0%;
    background-color: lightblue;
}

.app {
    display: grid;
    grid-template-rows: 100px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
    padding: 5px;
    background-color: lightgrey;
}

.body {
    display: flex;
    justify-content: center;
}

.quote-container {
    justify-content: center;
    display: flex;
    padding: 5px;
    border: black 2px solid;
    margin-top: 10px;
    width: 35%;
    /* position: relative;
    left: 400px; */
    background-color: whitesmoke;
}

.adversity {
    background-color: lightblue;
}

.quoteAdversity {
    border: black solid 2px;
}

.mental {
    background-color: lightblue;
}

.quoteMental {
    border: black solid 2px;
}

.mortality {
    background-color: lightblue;
}

.quoteMortality {
    border: black solid 2px;
}