.app {
    display: grid;
    grid-template-rows: 100px, auto, 100px;
    margin: 5px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2px;
}

.main div {
    background-color: aqua;
}

.spooktober img {
    height: 500px;
    width: 500px
}

.lowEffort img {
    height: 500px;
    width: 500px;
}

.pokemon img {
    height: 500px;
    width: 500px;
}