body {
    margin: 5px,5px,5px,5px;
}

.content {
    background-color: #f5c6d6;
    font-size: 0px;
    padding: 80px;
    box-sizing: border-box;
    width: 100%;
    border: 5px white solid;
    position: relative;
}



.more-content span {
    background-color: #ee2e84;
    box-sizing: border-box;
    font-size: 0px;
    padding: 80px;
    display: inline-block;
    width:24.75%;
    border: 5px white solid;
    position: relative;
}

@media (max-width: 768px) {
    .more-content span{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.even-more-content span {
    background-color: #85cfd8;
    box-sizing: border-box;
    padding: 100px;
    width: 49.75%;
    font-size: 0px;
    display: inline-block;
    border: 5px white solid;
    position: relative;
}

@media (max-width: 768px) {
    .even-more-content span {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.cahntent .green {
    background-color: #8dc63f;
    font-size: 0px;
    box-sizing: border-box;
    padding: 80px;
    margin-bottom: 10px;
    display: inline-block;
    width: 74.75%;
    border: 5px white solid;
    position: relative;
}

@media (max-width: 768px) {
    .cahntent .green {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.cahntent .orange {
    background-color: #e76e34;
    font-size: 0px;
    box-sizing: border-box;
    padding: 80px;
    display: inline-block;
    width:24.75%;
    border: 5px white solid;
    position: relative;
}

@media (max-width: 768px) {
    .cahntent .orange {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}